@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

h1 {
    font-size: 2rem;
    margin: 16px 0;
    font-family: 'Honk', system-ui;
}

div {
    width:450px;
    margin:auto;
}

body {
    background-color:#a72d0e;
}