@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

h1 {
    font-size: 2rem;
    margin: 16px 0;
    font-family: 'DotGothic16', sans-serif;
}

h2.first {
    font-size: 1.5rem;
    margin: auto;
    font-family: 'DotGothic16', sans-serif;
}

h2.second {
    font-size: 1.5rem;
    margin: 32px;
    font-family: 'DotGothic16', sans-serif;
}

h3 {
    font-size: 1rem;
    margin: 32px;
    font-family: 'DotGothic16', sans-serif;
}

body {
    background-color:rgb(246, 176, 255);
}