@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

h1 {
    font-size: 2rem;
    margin: 16px 0;
    font-family: 'Honk', system-ui;
}

h2.first {
    font-size: 1.5rem;
    margin: auto;
    font-family: 'Honk', system-ui;
}

h2.second {
    font-size: 1.5rem;
    margin: 32px;
    font-family: 'Honk', system-ui;
}

h3 {
    font-size: 1rem;
    margin: 32px;
    font-family: 'Honk', system-ui;
}

div {
    width:450px;
    margin:auto;
    background-color: black;
}

body {
    background-color:green;
}